* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-article {
  height: 120vh;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
  background-color: white;
}

#titulos {
  padding-top: 120px;
}

.box-cinza {
  position: relative;
  background-color: #ebebeb;
  width: 100%;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.escrita {
  padding-left: 100px;
}

.titulo {
  color: black;
  font-size: 70px;
  font-weight: 900;
  height: auto;
}

.subtitulo {
  padding: 0;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
}

.pagina-incial {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
  text-decoration: none;
  list-style: none;
}

.hrefs-pg {
  white-space: nowrap;
  position: absolute;
  right: 170px;
  top: 110px;
}

/* Aqui está a media query para telas menores */
@media (max-width: 768px) {
  .hrefs-pg {
    position: relative; /* Altera o position para relative */
    right: 0; /* Remove a posição à direita */
    top: 0; /* Remove a posição do topo */
    padding-left: 5px;
    margin-top: 15px; /* Adiciona margem em cima para espaçar do subtítulo */
  }

  .escrita {
    padding-left: 60px;
  }

  .box-cinza {
    height: 25rem;
  }

  .background-article .texto-article {
    padding-left: 60px;
  }
}

.texto-article {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71875rem;
  max-width: 90%;
  padding-top: 4.56rem;
  padding-left: 100px;
  color: black;
}
