* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo-footer {
  width: 20rem;
  height: auto;
}

footer {
  padding-left: 55px;
  background-image: url("..//assets/footer.png");
  width: auto;
  height: auto;
  object-fit: cover;
  background-size: cover;
}

.footer-principal {
  padding-top: 3px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
}

.footer-link {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

#footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  border-radius: 50%;
  transition: all 0.4s;
  padding-top: 0.2rem;
}

@media screen and (max-width: 426px) {
  #footer_social_media .footer-link{
    padding-top: 0.1rem;
  }
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background-color: #565353;
}

#facebook {
  background-color: #565353;
}

#whatsapp {
  background-color: #565353;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: white;
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: white;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
}

#input_group button {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  color: white;
  display: flex;
  justify-content: center;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 1.5rem;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

@media (max-width: 760px) {
  footer {
    padding-left: 30px;
  }
}

@media (max-width: 400px) {
  footer {
    padding-left: 35px;
  }
}
