* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
  background-color: white;
}

#titulos {
  padding-top: 120px;
}

.box-cinza {
  position: relative;
  background-color: #ebebeb;
  width: 100%;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.escrita {
  padding-left: 100px;
}

.titulo {
  color: black;
  font-size: 70px;
  font-weight: 900;
  height: auto;
}

.subtitulo {
  padding: 0;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
}

.pagina-incial {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
  text-decoration: none;
  list-style: none;
}

.hrefs-pg {
  white-space: nowrap;
  position: absolute;
  right: 170px;
  top: 110px;
}

/* Aqui está a media query para telas menores */
@media (max-width: 950px) {
  .hrefs-pg {
    position: relative; /* Altera o position para relative */
    right: 0; /* Remove a posição à direita */
    top: 0; /* Remove a posição do topo */
    margin-top: 15px;
    padding-left: 5px;
  }

  .escrita {
    padding-left: 55px;
  }

  .box-cinza {
    height: 25rem;
  }

  #fale_conosco_sub {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 114.583% */
    font-variant: all-small-caps;
    letter-spacing: 5.04px;
    margin-top: 9rem;
  }

  .sub_tel {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 171.875% */
    font-variant: all-small-caps;
    letter-spacing: 3.36px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 2.5rem;
  }

  .sub_tel a {
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
    font-variant: all-small-caps;
    letter-spacing: 3.36px;
    text-decoration-line: underline;
  }

  #sub_desc {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.57);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 137.5% */
    margin-top: 3rem;
  }
}

.texto-article {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71875rem;
  max-width: 1400px;
  padding-top: 4.56rem;
  padding-left: 100px;
  color: black;
}

.background-article {
  height: auto;
  position: relative;
}

#gp_mb {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase; /* Força o texto a ser todo maiúsculo */
  letter-spacing: 2px;
  margin-bottom: 0.5rem; /* Reduz a margem inferior para aproximar a imagem */
  text-align: left;
  margin-left: 0;
}

.linha-separadora {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.4); /* Altere a cor conforme necessário */
  width: 80%; /* Ajusta a largura da linha */
  margin: 20px auto; /* Centraliza a linha e define margens */
}

#fundadora-img1 {
  margin-right: 3.5rem;
}

#fundadora-img2 {
  margin-left: 3.5rem;
}

.fundadoras {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.fundadora-direita {
  text-align: left;
}
.fundadora-esquerda {
  text-align: right;
}

.titulo h2 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: 900;
  line-height: 100%;
  text-transform: capitalize;
}

.titulo p {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.5px;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
}

.fundadoras-container {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.33rem;
}

.fundadora {
  max-width: 250px;
  width: 373px;
  height: auto;
}

.fundadora h3 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.5px;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
}

.fundadora p {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 27.5px;
  letter-spacing: 0.16px;
}

.imagem {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1210px) {
  .fundadoras-container {
    flex-direction: column;
    align-items: center;
  }

  .fundadora-direita,
  .fundadora-esquerda {
    text-align: center;
    margin: 0;
  }

  #fundadora-img1,
  #fundadora-img2 {
    margin: 0;
  }
}

.img_pst img {
  height: 250px;
  width: auto;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .img_pst img {
    height: 200px;
  }
}

.background-article {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo-grupo {
  width: auto;
}

.fundadora-imagem1 img {
  padding-right: 20px;
  height: auto;
  width: 300px;
}

.fundadora-imagem2 img {
  padding-left: 20px;
  height: auto;
  width: 300px;
}

.linha {
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
@media (max-width: 1200px) {
}

@media (max-width: 1210px) {
  .linha {
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 0;
    width: 100px;
  }

  .fundadora-imagem1 img {
    padding-right: 0;
  }

  .fundadora-imagem2 img {
    padding-left: 0;
  }
}
