.container {
  background-image: url(/ProjetoOrigina/assets/background.png);
  max-width: 800;
  max-height: 1680;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center;
  
}

form {
  background-color: transparent;
  padding: 30px;
}

.form-header .title h1 {
  color: black;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
}

.form-header .title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
  text-align: center;
}

/* Grupo de Inputs */
.input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Garante duas colunas de tamanho igual */
  gap: 10px; /* Reduz o espaçamento entre as colunas */
  margin-top: 20px;
  width: 100%; 
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box label {
  font-family: "Roboto", sans-serif;
  font-size: 12px; /* Aumenta ligeiramente o tamanho da fonte do label */
  color: #333;
  margin-bottom: 5px;
  font-weight: 400;
}

.input-box input {
  padding: 10px; /* Aumenta o padding para campos maiores */
  background: rgba(50, 50, 50, 0.70);
  border: 1px solid #FFF;
  color: rgba(255, 255, 255, 0.80); /* Ajusta a cor do texto nos campos */
  border: none;
  border-radius: 3px;
  font-size: 18px; /* Aumenta o tamanho da fonte */
  width: 100%; /* Faz os inputs ocuparem a largura total */
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.50); /* Ajusta a cor do placeholder */
}

.input-box input:focus {
  outline: 2px solid #4a5568;
  box-shadow: 0 0 5px rgba(18, 18, 18, 0.3);
}

/* Botão de Enviar */
.continue-button {
  display: flex;
  justify-content: center; /* Centraliza o botão */
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}



.continue-button button {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #333;
  margin-bottom: 5px;
  font-weight: 400;
  text-decoration: none; 

  background-color:rgba(50, 50, 50, 0.70);
  color: rgba(255, 255, 255, 0.80);
  padding: 10px 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  text-decoration: none; 
}

.continue-button button:hover {
  background-color:rgba(50, 50, 50, 0.949);
}

@media (max-width: 768px) {

  .input-group {
    grid-template-columns: 1fr; /* Uma coluna para telas menores */
  }
}

.form-content.error input{
  border-color: #ff3b25;
}

.form-content.error a{
  color: #ff3b25;
  visibility: visible;
}