:root {
  --primary-color: #0A1128;
  --white-color: #FFFFFF;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%; 
  padding: 30px 4%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-bar {
  
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center ;
  text-decoration: none;
  width: 192.732px;
  height: 28px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 27.5px; /* 171.875% */
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
}

.logo h1 {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: medium;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}
.background {
  width: 1440px; 
  height: 731px
}


.nav-link {
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  width: 85.881px;
  height: 28px;
  flex-shrink: 0;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
  
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }
}

.banner {
  height: 100vh;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  background-color: #f0f0f0; /* Adicione uma cor de fundo para melhor visualização */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

.main-bg {
  background-color: var(--primary-color); /* Defina uma cor de fundo para visualizar melhor */
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.white-bg {
  background: var(--white-color);
  color: var(--primary-color); /* Garantir contraste de cor */
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
