* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-article {
  height: 70vh;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
  background-color: white;
}

#titulos {
  padding-top: 120px;
}

.box-cinza {
  position: relative;
  background-color: #ebebeb;
  width: 100%;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.escrita {
  padding-left: 100px;
}

.titulo {
  color: black;
  font-size: 70px;
  font-weight: 900;
  height: auto;
}

.subtitulo {
  padding: 0;
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
}

.pagina-incial {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
  text-decoration: none;
  list-style: none;
}

.hrefs-pg {
  white-space: nowrap;
  position: absolute;
  right: 170px;
  top: 110px;
}

/* Aqui está a media query para telas menores */
@media (max-width: 950px) {
  .hrefs-pg {
    position: relative; /* Altera o position para relative */
    right: 0; /* Remove a posição à direita */
    top: 0; /* Remove a posição do topo */
    margin-top: 15px;
    padding-left: 5px;
  }

  .escrita {
    padding-left: 55px;
  }

  .box-cinza {
    height: 25rem;
  }

  #fale_conosco_sub {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 114.583% */
    font-variant: all-small-caps;
    letter-spacing: 5.04px;
    margin-top: 9rem;
  }

  .sub_tel {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 171.875% */
    font-variant: all-small-caps;
    letter-spacing: 3.36px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 2.5rem;
  }

  .sub_tel a {
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
    font-variant: all-small-caps;
    letter-spacing: 3.36px;
    text-decoration-line: underline;
  }

  #sub_desc {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.57);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 137.5% */
    margin-top: 3rem;
  }
}

.texto-article {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71875rem;
  max-width: 1400px;
  padding-top: 4.56rem;
  padding-left: 100px;
  color: black;
}

#gp_mb {
  color: rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.5px; /* 114.583% */
  font-variant: all-small-caps;
  letter-spacing: 5.04px;
  margin-left: 10.5rem;
  margin-top: 7rem;
  display: block;
}

.img_pst {
  width: 1123px;
  height: 480px;
  display: flex;
  flex-shrink: 0;
  background: #d9d9d9;
  margin-top: -65rem;
  margin-left: 10.5rem;
  margin-bottom: 5rem;
}

.linha-separadora {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.4); /* Altere a cor conforme necessário */
  width: 80%; /* Ajusta a largura da linha */
  margin: 20px auto; /* Centraliza a linha e define margens */
}

.fundadoras {
  text-align: center;
  padding: 50px 0;
}

.fundadora {
  max-width: 250px;
  width: 373px;
  height: auto;
  margin: 0; /* Remove qualquer margem para aproximar o conteúdo */
}

.fundadora h3, .fundadora p {
  margin: 0; /* Remove margens do título e parágrafo */
  padding: 0; /* Remove padding adicional se houver */
}

.fundadora-direita {
  text-align: left;
}
.fundadora-esquerda {
  text-align: right;
}

.fundadoras-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 40px;
  gap: 10px; /* Ajusta o espaço entre os itens */
}

.imagem {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remove margem ao redor das imagens */
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
  .fundadoras-container {
    grid-template-columns: 1fr 1fr;
  }
  .fundadora {
    margin: 0 auto;
  }
  .fundadora-direita {
    text-align: center;
  }
  .fundadora-esquerda {
    text-align: center;
  }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .fundadoras-container {
    grid-template-columns: 1fr;
  }
  .fundadora h3,
  .fundadora p {
    text-align: center;
    margin: 0;
  }
  .fundadora {
    width: 100%;
    max-width: 100%;
  }
  .imagem {
    margin: 20px 0;
  }
}

.fundadora {
  max-width: 250px;
  width: 373px;
  height: auto;
}

.fundadora h3 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.5px;
  font-variant: all-small-caps;
  letter-spacing: 3.36px;
}

.fundadora p {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 27.5px;
  letter-spacing: 0.16px;
  text-transform: lowercase;
}

.imagem {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
